/* Light Theme */
[data-theme="light"] {
	--background: linear-gradient(135deg, #f0f4ff, #e5ebfb);
	/* Soft light background */
	--text: #2c3e50; /* Deep slate text */
	--primary: #3498db; /* Calming blue for primary actions */
	--secondary: #8f7bbe; /* Muted purple for secondary actions (distinct) */
	--accent: #f1c40f; /* Warm yellow accent */
	--success: #2ecc71; /* Vibrant green for success messages */
	--error: #e74c3c; /* Bold red for errors */
	--gradient: linear-gradient(90deg, #3498db, #9b59b6); /* Balanced gradient */
}

/* Dark Theme Overrides */
[data-theme="dark"] {
	--background: #2c3e50; /* Deep slate for dark mode background */
	--text: #ecf0f1; /* Light, crisp text */
	--primary: #2980b9; /* Slightly darker blue for dark mode */
	--secondary: #76659f; /* Darker muted purple for balance */
	--accent: #f39c12; /* Richer yellow accent */
	--success: #27ae60; /* Balanced green success */
	--error: #c0392b; /* Softer red for errors */
	--gradient: linear-gradient(
		90deg,
		#2980b9,
		#8e44ad
	); /* Muted dark gradient */
}

* {
	transition: color 0.5s ease, background-color 0.5s ease !important;
	transition-delay: 0s !important;
}

html,
body {
	height: 100%;
	background-color: var(--background);
	color: var(--text);
}

#root {
	min-height: 100%;
	background-color: var(--background);
	color: var(--text);
}
.navbar {
	background-color: var(--background);
	color: var(--text);
}

.btn-primary {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--text);
}

.btn-primary:hover {
	background-color: var(--secondary);
	border-color: var(--secondary);
	color: var(--text);
}

.btn-outline-success {
	color: var(--success);
	border-color: var(--success);
}

.btn-outline-success:hover {
	background-color: var(--success);
	color: var(--text);
}

.alert-success {
	background-color: var(--success);
	color: var(--text);
}

.alert-warning {
	background-color: var(--warning);
	color: var(--text);
}

.alert-danger {
	background-color: var(--error);
	color: var(--text);
}

.form-control {
	background-color: var(--background);
	color: var(--text);
	border: 1px solid var(--secondary) !;
}

.search-container .search-btn {
	color: var(--primary);
}

.search-container {
	position: relative;
	display: flex;
	align-items: center;
}

.search-container .form-control {
	width: 100%;
	padding-right: 40px;
}

.search-container .search-btn {
	position: absolute;
	right: 10px;
	outline: none;
	border: none;
	background: none;
	padding: 0;
}

.card {
	transition: box-shadow 0.4s ease-in-out;
	border-radius: 20px;
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.card-btn {
	transition: box-shadow 0.2s ease-in-out;
	will-change: transform;
}

.card-btn:hover {
	transform: scale(1.2);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
